<form method="POST" action="/create_post">
  <input type="text" id="name" name="name" placeholder="Title" />
  <br>
  <input type="text" id="content" name="content" placeholder="Content" />
  <input type="submit" name="submit" value="submit" />
</form>
ewrljweoijrwoie