<%= @post.name %>
<%= @post.content %>

<form method="POST" action="/posts/<%= @post.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="delete" />
</form>